

<ion-content padding>

  <ion-card-header>
    <ion-item color="dark">
      <ion-label class="kronometre">Kronometre</ion-label>
    </ion-item>
  </ion-card-header>

  <circle-progress (click)="startTimer()"
  [percent]="percent"
  [maxPercent]="100"
  [radius]="radius"
  [showTitle]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [outerStrokeColor]="'#480ca8'"
  [showZeroOuterStroke]="true"
  [backgroundStrokeWidth]="5"
  [outerStrokeGradient]="true"
  [outerStrokeGradientStopColor]="'#b5179e'"
  [showInnerStroke]="true"
  [innerStrokeColor]="'#10002b'"
  [innerStrokeWidth]="5"
></circle-progress>


<p>{{ elapsed.h }}:{{ elapsed.m }}:{{ elapsed.s }}</p>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ng-container *ngIf="timer == false; else running">
    <ion-fab-button (click)="startTimer()">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </ion-fab-button>
  </ng-container>
  <ng-template #running>
    <ion-fab-button (click)="stopTimer()">
      <ion-icon name="square"></ion-icon>
    </ion-fab-button>
  </ng-template>
</ion-fab>















  <ion-fab vertical="bottom" horizontal="start" slot="fixed">

    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button href="/alarm"><ion-icon name="alarm-outline"></ion-icon></ion-fab-button>
     
      <ion-fab-button href="/todo"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-fab-button>
   
      <ion-fab-button href="/kronometre"><ion-icon name="flag-outline"></ion-icon></ion-fab-button>

      <ion-fab-button href="/home"><ion-icon name="stopwatch-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>
