.kronometre {
    text-align: center;
}

ion-item {
  
    border: 2px solid;
    border-radius: 18px;
    border-color: rgb(49, 49, 49);
  
  }

  p {
    font-size: 3em;
    color: #E8E8E8;
    width: 100%;
    text-align: center;
  }